.invoice-logo{
    text-align: center;
    margin: 0px 15px;
}

.invoice-logo .header{
    float: right;
    color: #E26A6A;
    margin-top: 10px;
}

.invoice-logo .order_Status{
    margin-top: 31px;
    float: left;
}

.invoice-logo .image {
    margin-right: 72px;
}

.invoice-logo .image img{
    width: 76px;
    height: auto;
}